<a href="https://colab.research.google.com/github/AbdulRauf96/NLP/blob/main/handling_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = 'dodgerblue'>**Handling Text Data**

 Objective: Learn to import text data into Pandas data frame. A lot of time we get text data from online resources. The data is available in compressed format (like zip, tar). We need to understand how to get the data from online resources and convert the data into a  dataframe so that we can start pre-processing the data.

**Typical Steps**
- Step1: use !wget to download data files from URl
- Step2: check content of folder where data was downloaded
- Step3: Check content of zipped/tar folder
- Step 4: unzip/untar files
- Step 4a: Understand the structure of unzipped folder/files (only required if data is stored in multiple folders and files).
- Step 5: Check content of the main file using !head command.
- Step 6a: combine data from multiple files ( if data is stored in multiple files).
- Step6: Create a dataframe

We will use the pandas library to read files from sources and filepaths. Let us import the pandas library

# <font color = 'dodgerblue'>**Import libraries**

In [ ]:
# Importing the pandas library for data manipulation
import pandas as pd

# Importing the Path module from the pathlib library for working with file paths
from pathlib import Path

# Importing the zipfile module for working with zip files
import zipfile

# Importing the tarfile module for working with tar files
import tarfile

Code explanation:
- We have already explained Pandas and Pathlib libraries in previous lecture. 

Here is brief discription of the other modules:

- zipfile is a module in the Python standard library for working with ZIP files. It can be used to create, read, and extract ZIP files. ere are a few examples of how the zipfile module can be used:

- tarfile is a module in the Python standard library for working with tar files, which is a type of archive file that is commonly used on Unix-like operating systems. It can be used to create, read, and extract tar files.

# <font color = 'dodgerblue'>**Mount Google drive and Specify folder paths**

In [ ]:
from pathlib import Path
import os
if 'google.colab' in str(get_ipython()):
  from google.colab import drive
  drive.mount('/content/drive') 
  !pip install swifter -qq
  base_folder = Path('/content/drive/MyDrive/colab_notebooks/')
  subject = 'nlp'
  data_folder = base_folder/subject/'data/'
  archive_folder = base_folder/subject/'archive/'
  output = base_folder/subject/'output'
else:
  base_folder = Path('C:/Users/Abdul Rauf Maroof/OneDrive/Documents/MSBA')
  data_folder = base_folder/subject/'data/'
  archive_folder = base_folder/subject/'archive/'
  output = base_folder/subject/'output'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# <font color = 'dodgerblue'>**Task 1: Get Data from a CSV file**

Task : Read data from a csv file. <br>
We can download the data from following source: Sentiment 140 dataset:
http://help.sentiment140.com/for-students

Url for data: http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip

Data Columns:
- 0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
- 1 - the id of the tweet (2087)
- 2 - the date of the tweet (Sat May 16 23:58:44 UTC 2009)
- 3 - the query (lyx). If there is no query, then this value is NO_QUERY.
- 4 - the user that tweeted (robotickilldozr)
- 5 - the text of the tweet (Lyx is cool)

## <font color = 'dodgerblue'>**Step1: use wget to download data files from URl**

Download a  file to the filesystem from a url using the wget commmand <br>
URL = http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip <br>

**Syntax** <br> !wget {url} -P {path_to_save_file} -O filename <br>

- The !wget {URL} -P {archive_folder} -O {file} is a shell command that is being executed. 
- The ! at the beginning of the line indicates that this is a shell command, not Python code. 
- wget is a command-line utility for downloading files from the web. 
- The -P option is used to specify the directory where the file will be saved, in this case, the archive_folder variable. 
- if we do not specify -P , files will be saved in current direcory 
- The -O option is used to specify the file name to save the file as, in this case, the file variable. Use O if you want to overwrite existing file with same name.
- To use variables in bash commands , we have to use {} brackets 

In summary, this code is downloading a file from a specified URL and saving it to a specified location on the file system and naming it as specified.

In [ ]:
# use wget to download the data
file = archive_folder/'trainingandtestdata.zip'
URL = 'http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip'
!wget {URL} -P {archive_folder} -O {file}

## <font color = 'dodgerblue'>**Step2: check content of folder where data was downloaded**

In [ ]:
# step 2: check teh content of the folder where file was downloaded
# We can iterate over this folder using .iterdir()
for entries in archive_folder.iterdir():
  if 'zip' in entries.name:
    print(entries.name)

- `iterdir()` is a method of the Path class in the `pathlib` module in Python. It returns an iterator that yields the names of the files and subdirectories in a directory.

- The `iterdir()` method is useful for processing a directory's contents one file or directory at a time, rather than loading all the names into memory at once. This can be more memory-efficient for large directories, or for directories that contain many subdirectories.

- In the code above, `iterdir()` is used to loop through the entries in the `archive_folder` directory. The `for` loop iterates over each entry, and the `if` statement checks if the entry name contains the string '.zip'. If the condition is true, the entry name is printed.

In [ ]:
# alternatively we can check directly if the file exists in the archive folder:
(archive_folder/'trainingandtestdata.zip').exists()

## <font color = 'dodgerblue'>**Step3: Check content of zipped/tar folder**

We can construct a path to the file by joining the parts using the special operator /. The / can join several paths or a mix of paths and strings given, atleast one of those paths should be an instance of class `Path` from `pathlib` library (as shown below).

In [ ]:
# path for zipfile
file = archive_folder / 'trainingandtestdata.zip'

We will open and read the zip file using 
```python
with zipfile.ZipFile(file, mode)
``` 
here `file` is the file to open and we can specify the mode (read, write etc,)
In below command we have used `'r'` to specify that we can open the file in reading mode.
Finally we use namelist() method to list the content of zipped folder.

In [ ]:
# list the content of the zipped folder
with zipfile.ZipFile(file, 'r') as f:
  print(f.namelist())

## <font color = 'dodgerblue'>**Step 4: unzip/untar files**

We will open the file using 
```python
with zipfile.ZipFile(file, mode)
``` 
Finally  we will use file.extract to extarct a particular file from zipped folder
```python
file.extract(file_to_extract, path)
```
In the above command file_to_extract is the file from zipped folder that we want to extract, and path is where we want to save the extracted file.

In [ ]:
# %%timeit will tell us the time it takes to execute this cell
# unzip the file 

file = archive_folder / 'trainingandtestdata.zip' 
with zipfile.ZipFile(file, 'r') as f:
  f.extract('training.1600000.processed.noemoticon.csv', path = data_folder)

In [ ]:
# we can also use bash !unzip command
# Syntax !unzip {file} -d {location}
# if we do not specify -d option, files will be saved in current directory
# here file is the file to unzip and location is where we ant to extract files
# you can uncomment the lines below if you want to compare  zipfile and !unzip commands

# file = archive_folder / 'trainingandtestdata.zip'
# !unzip -o {str(file)} -d {str(data_folder)}

## <font color = 'dodgerblue'>**Step 5: Check content of the main file using head command**

In [ ]:
# before importing the file let us see how it looks like
file_csv = data_folder / 'training.1600000.processed.noemoticon.csv'

# the bash command head helps us to see the content of the file
# We need to pass the path to the file as a string. We use Python's str function to convert the Path to string
# We can specify no.of lines to be printed using the option -n.
!head -n 5 {str(file_csv)}

## <font color = 'dodgerblue'>**Step6: Create pandas dataframe**

In [ ]:
# Create a Pandas Dataframe object by specifying the file name with path and other arguments
# pd.read_csv('<filename_with_path>', header=<names of columns>,delimiter=','(for csv files))
# The encoding argument can contain UTF-8, ISO-8859-1 or unicode-escape. 
# It is difficult to detect the type of encoding to use for a file from an external source. 
# Usually, this argument is not invoked, on the off-case that the default encoding does not work, 
# use either of the options mentioned.
# We can add column names if it doesn't exist using the 'names=' argument.

df = pd.read_csv(file_csv, names = ['polarity', 'id', 'date', 'query', 'user', 'text'],
                 encoding = 'ISO-8859-1', header = None)
df

# <font color = 'dodgerblue'>**Task 2: Get Data from a text file** 
Task : Read data from a text file. <br>
We can download the data from following source: https://norvig.com/big.txt

## <font color = 'dodgerblue'>**Step1: use wget to download data files from URL**

In [ ]:
# Download a  file to the filesystem from a url using the wget commmand
# syntax  !wget {url} -P {path_to_save_file}
# if we do not specify -P , files will be saved in current direcory

file = data_folder/'big.txt'
url = "https://norvig.com/big.txt"
!wget {url} -P {data_folder} -O {file}

--2023-03-01 17:23:25--  https://norvig.com/big.txt
Resolving norvig.com (norvig.com)... 158.106.138.13
Connecting to norvig.com (norvig.com)|158.106.138.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6488666 (6.2M) [text/plain]
Saving to: ‘/content/drive/MyDrive/colab_notebooks/nlp/data/big.txt’

big.txt             100%[===================>]   6.19M  15.8MB/s    in 0.4s

2023-03-01 17:23:26 (15.8 MB/s) - ‘/content/drive/MyDrive/colab_notebooks/nlp/data/big.txt’ saved [6488666/6488666]

## <font color = 'dodgerblue'>**Step2: Check content of folder where data was downloaded**

In [ ]:
# List the content of  directory
for entries in data_folder.iterdir():
  if 'txt' in entries.name: 
    print(entries.name)

scaledata.README.1.0.txt
big.txt

In [ ]:
# alternatively we can check directly if the file exists in the data folder:
(data_folder/'big.txt').exists()

True

## <font color = 'dodgerblue'>**Step 5: Check content of the main file using head command**

In [ ]:
# Look at the first kilobyte of the .txt file 
file_text = data_folder / 'big.txt'
!head {str(file_text)} -n 5

The Project Gutenberg EBook of The Adventures of Sherlock Holmes
by Sir Arthur Conan Doyle
(#15 in our series by Sir Arthur Conan Doyle)

Copyright laws are changing all over the world. Be sure to check the

## <font color = 'dodgerblue'>**Use open to retrieve data**

In [ ]:
# Open and read the file using open(filename, 'r') function
# We will use with open as it closes the file as well
# This is a recommended way to open a text file 

with open(file_text, 'r') as file:
  text = file.read()

# The text variable now contains the contents of the text file.
text[0:100]

'The Project Gutenberg EBook of The Adventures of Sherlock Holmes\nby Sir Arthur Conan Doyle\n(#15 in o'

# <font color = 'dodgerblue'>**Task 3: Get Data from a JSON File**

## <font color = 'dodgerblue'>**Example 1 - small file**
Task : Read data from a JSON file. <br>
We can download the data from following source: https://filesamples.com/samples/code/json/sample4.json

### <font color = 'dodgerblue'>**Step1: use wget to download data files from URl**

In [ ]:
# Download a  file to the filesystem from a url using the wget commmand
# syntax  !wget {url} -P {path_to_save_file}
# if we do not specify -P , files will be saved in current direcory

url = 'https://filesamples.com/samples/code/json/sample4.json'
file = data_folder/'sample4.json'
# we can specify variables using {}
!wget {url} -P {data_folder} -O {file}

--2023-03-01 17:23:27--  https://filesamples.com/samples/code/json/sample4.json
Resolving filesamples.com (filesamples.com)... 172.67.178.244, 104.21.17.252, 2606:4700:3035::6815:11fc, ...
Connecting to filesamples.com (filesamples.com)|172.67.178.244|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 451 [application/json]
Saving to: ‘/content/drive/MyDrive/colab_notebooks/nlp/data/sample4.json’

sample4.json        100%[===================>]     451  --.-KB/s    in 0.001s

2023-03-01 17:23:27 (417 KB/s) - ‘/content/drive/MyDrive/colab_notebooks/nlp/data/sample4.json’ saved [451/451]

### <font color = 'dodgerblue'>**Step2: Check content of folder where data was downloaded**

In [ ]:
# check content of basepath
for entries in data_folder.iterdir():
  if 'json' in entries.name:
    print(entries.name)

countries.json
sample4.json

In [ ]:
# alternatively we can check directly if the file exists in the data folder:
(data_folder/'sample4.json').exists()

True

### <font color = 'dodgerblue'>**Step 5: Check content of main file using head command**

In [ ]:
# let us see how the file looks like
file_json1 = data_folder / 'sample4.json'
!head {file_json1}

{
  "people" : [
    {
       "firstName": "Joe",
       "lastName": "Jackson",
       "gender": "male",
       "age": 28,
       "number": "7349282382"
    },
    {

### <font color = 'dodgerblue'>**Step6: Create pandas dataframe**

In [ ]:
# read json file using pd.read_json which returns pandas DataFrame object
json = pd.read_json(file_json1)
json

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [ ]:
# check the column 
json.people

0    {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1    {'firstName': 'James', 'lastName': 'Smith', 'g...
2    {'firstName': 'Emily', 'lastName': 'Jones', 'g...
Name: people, dtype: object

In [ ]:
# iterate over rows
for row in json.people:
  print(row)

{'firstName': 'Joe', 'lastName': 'Jackson', 'gender': 'male', 'age': 28, 'number': '7349282382'}
{'firstName': 'James', 'lastName': 'Smith', 'gender': 'male', 'age': 32, 'number': '5678568567'}
{'firstName': 'Emily', 'lastName': 'Jones', 'gender': 'female', 'age': 24, 'number': '456754675'}

In [ ]:
# we can easily create a dataframe from list of dictionaries
# first create list of dictionaries using list comprehension
list_of_dict = [row for row in json.people]
list_of_dict

[{'firstName': 'Joe',
  'lastName': 'Jackson',
  'gender': 'male',
  'age': 28,
  'number': '7349282382'},
 {'firstName': 'James',
  'lastName': 'Smith',
  'gender': 'male',
  'age': 32,
  'number': '5678568567'},
 {'firstName': 'Emily',
  'lastName': 'Jones',
  'gender': 'female',
  'age': 24,
  'number': '456754675'}]

In [ ]:
# now we can create datafreme from list of dictionaries
df_json = pd.DataFrame(list_of_dict)
df_json

  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675

In [ ]:
# we can do this in one step as follows
df_json = pd.DataFrame([row for row in json.people])

In [ ]:
df_json

  firstName lastName  gender  age      number
0       Joe  Jackson    male   28  7349282382
1     James    Smith    male   32  5678568567
2     Emily    Jones  female   24   456754675

## <font color = 'dodgerblue'>**Example 2 - large file**
Download the dataset from Kaggle using this link below  
https://www.kaggle.com/rmisra/news-category-dataset
Kaggle is an open-source dataset website, that requires  account sign-in.  

Upload the dataset to your Google Drive from your local machine.
We need to mount Google Drive to access files in Google drive in Colab.

See  the instructions here if you want to download data from kaggle from Colab: https://www.kaggle.com/general/74235

### <font color = 'dodgerblue'>**Save file to google drive and check content**

In [ ]:
# Look in the contents of the folder where we saved the file
for entries in archive_folder.iterdir():
  if 'json' in entries.name:
    print(entries.name)

News_Category_Dataset_v2.json.zip

In [ ]:
# alternatively we can check directly if the file exists in the archive folder:
(archive_folder/'News_Category_Dataset_v2.json.zip').exists()

True

### <font color = 'dodgerblue'>**Step3: Check content of zipped/tar folder**

In [ ]:
# path for zipfile
file = archive_folder / 'News_Category_Dataset_v2.json.zip'

# use .namelist() to see the content of zipped folder
with zipfile.ZipFile(file, 'r') as f:
  print(f.namelist())

['News_Category_Dataset_v3.json']

### <font color = 'dodgerblue'>**Step 4: unzip/untar files**

In [ ]:
# extract the file
%%timeit
file = archive_folder / 'News_Category_Dataset_v2.json.zip'
with zipfile.ZipFile(file, 'r') as f:
  f.extract('News_Category_Dataset_v3.json', path = data_folder)

1.34 s ± 94.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
# we can also use !unzip command
# Syntax !unzip {file} -d {location}
# if we do not specify -d option files will be saved in current directory
# you can uncomment the lines below if you want to compare  zipfile and !unzip commands
'''
%%timeit
file = folder / 'News_Category_Dataset_v2.json'
!unzip -o {str(file)} -d {str(folder)}
'''

"\n%%timeit\nfile = folder / 'News_Category_Dataset_v2.json'\n!unzip -o {str(file)} -d {str(folder)}\n"

### <font color = 'dodgerblue'>**Step 5: Check content of the main file using head command**

In [ ]:
# check content of fle using head
file = data_folder / 'News_Category_Dataset_v3.json'
!head {file} -n 5

{"link": "https://www.huffpost.com/entry/covid-boosters-uptake-us_n_632d719ee4b087fae6feaac9", "headline": "Over 4 Million Americans Roll Up Sleeves For Omicron-Targeted COVID Boosters", "category": "U.S. NEWS", "short_description": "Health experts said it is too early to predict whether demand would match up with the 171 million doses of the new boosters the U.S. ordered for the fall.", "authors": "Carla K. Johnson, AP", "date": "2022-09-23"}
{"link": "https://www.huffpost.com/entry/american-airlines-passenger-banned-flight-attendant-punch-justice-department_n_632e25d3e4b0e247890329fe", "headline": "American Airlines Flyer Charged, Banned For Life After Punching Flight Attendant On Video", "category": "U.S. NEWS", "short_description": "He was subdued by passengers and crew when he fled to the back of the aircraft after the confrontation, according to the U.S. attorney's office in Los Angeles.", "authors": "Mary Papenfuss", "date": "2022-09-23"}
{"link": "https://www.huffpost.com/entry/funniest-tweets-cats-dogs-september-17-23_n_632de332e4b0695c1d81dc02", "headline": "23 Of The Funniest Tweets About Cats And Dogs This Week (Sept. 17-23)", "category": "COMEDY", "short_description": "\"Until you have a dog you don't understand what could be eaten.\"", "authors": "Elyse Wanshel", "date": "2022-09-23"}
{"link": "https://www.huffpost.com/entry/funniest-parenting-tweets_l_632d7d15e4b0d12b5403e479", "headline": "The Funniest Tweets From Parents This Week (Sept. 17-23)", "category": "PARENTING", "short_description": "\"Accidentally put grown-up toothpaste on my toddler\u2019s toothbrush and he screamed like I was cleaning his teeth with a Carolina Reaper dipped in Tabasco sauce.\"", "authors": "Caroline Bologna", "date": "2022-09-23"}
{"link": "https://www.huffpost.com/entry/amy-cooper-loses-discrimination-lawsuit-franklin-templeton_n_632c6463e4b09d8701bd227e", "headline": "Woman Who Called Cops On Black Bird-Watcher Loses Lawsuit Against Ex-Employer", "category": "U.S. NEWS", "short_description": "Amy Cooper accused investment firm Franklin Templeton of unfairly firing her and branding her a racist after video of the Central Park encounter went viral.", "authors": "Nina Golgowski", "date": "2022-09-22"}

### <font color = 'dodgerblue'>**Step6: Create pandas dataframe**

In [ ]:
# specify file
file  = data_folder / 'News_Category_Dataset_v3.json'
# lines= argument is used for JSON rows that have more than one line (long lines of data in JSON Rows)
large_json = pd.read_json(file, lines=True)
large_json.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

# <font color = 'dodgerblue'>**Task 4: Get Data from multiple text files**
Many time we will have dataset in a format where the data is stored in multiple files. For example - each review is a separate file.
<br> We can download the data from here : http://www.cs.cornell.edu/people/pabo/movie-review-data/review_polarity.tar.gz

Website :http://www.cs.cornell.edu/people/pabo/movie-review-data/ <br>
Also availaible on : https://github.com/jbrownlee/Datasets

Write a function to process this data <br>
Output : Pandas Data Frame

## <font color = 'dodgerblue'>**Step1: use wget to download data files from URl**

In [ ]:
# Download a  file to the filesystem from a url using the wget commmand
# syntax  !wget {url} -P {path_to_save_file}
# if we do not specify -P , files will be saved in current direcory
file = archive_folder/'review_polarity.tar.gz'
url = 'http://www.cs.cornell.edu/people/pabo/movie-review-data/review_polarity.tar.gz'
!wget {url} -P {archive_folder} -O {file}

--2023-03-01 17:28:35--  http://www.cs.cornell.edu/people/pabo/movie-review-data/review_polarity.tar.gz
Resolving www.cs.cornell.edu (www.cs.cornell.edu)... 132.236.207.36
Connecting to www.cs.cornell.edu (www.cs.cornell.edu)|132.236.207.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3127238 (3.0M) [application/x-gzip]
Saving to: ‘/content/drive/MyDrive/colab_notebooks/nlp/archive/review_polarity.tar.gz’

review_polarity.tar 100%[===================>]   2.98M  10.5MB/s    in 0.3s

2023-03-01 17:28:35 (10.5 MB/s) - ‘/content/drive/MyDrive/colab_notebooks/nlp/archive/review_polarity.tar.gz’ saved [3127238/3127238]

## <font color = 'dodgerblue'>**Step2: check content of folder where data was downloaded**

In [ ]:
# list files of google drive where data was downloaded
for entries in archive_folder.iterdir():
  if 'tar' in entries.name:
    print(entries.name)

review_polarity (1).tar.gz
scale_whole_review (1).tar.gz
aclImdb_v1.tar.gz
scale_whole_review.tar.gz
review_polarity.tar.gz

In [ ]:
# alternatively we can check directly if the file exists in the archive folder:
(archive_folder/'review_polarity.tar.gz').exists()

True

Since this is a tar file, we will use tarfile module to read the file
```python
with  tarfile.open(tar_file, 'r') as tar:
  print(tar.getnames())
```
Here tar_fileis is the compressed file. We first open this file in read mode and then use file.getnames to list the content of the file

## <font color = 'dodgerblue'>**Step3: Check content of zipped/tar folder**

In [ ]:
## <font color = 'dodgerblue'>**check the content of tar file 
file = archive_folder / 'review_polarity.tar.gz'
with  tarfile.open(file, 'r') as tar:
  tar_names = tar.getnames()

In [ ]:
tar_names[0:10]

['txt_sentoken/neg/cv000_29416.txt',
 'txt_sentoken/neg/cv001_19502.txt',
 'txt_sentoken/neg/cv002_17424.txt',
 'txt_sentoken/neg/cv003_12683.txt',
 'txt_sentoken/neg/cv004_12641.txt',
 'txt_sentoken/neg/cv005_29357.txt',
 'txt_sentoken/neg/cv006_17022.txt',
 'txt_sentoken/neg/cv007_4992.txt',
 'txt_sentoken/neg/cv008_29326.txt',
 'txt_sentoken/neg/cv009_29417.txt']

In [ ]:
# let us check total number of files
print(len(tar_names))

2001

In [ ]:
# it seems all the files are in a folder txt_sentoken
# let us check our assumption
sum([1 if file.startswith('txt_sentoken') else 0 for file in tar_names ])

2000

In [ ]:
# check the fiel that is not  in text_sentoken
[file  for file in tar_names if not file.startswith('txt_sentoken')]

['poldata.README.2.0']

## <font color = 'dodgerblue'>**Step 4: unzip/untar files**

We will now open the tar file in read mode and then use file.extractall to extract all the files
```python
with  tarfile.open(file, 'r') as tar:
  tar.extractall(path = folder)
```
path is the location where we want to save the extracted files.

In [ ]:
# Let us extract the files from the tar file using the command below
# the command below may take upto 10-15 minutes

file = archive_folder / 'review_polarity.tar.gz'
with  tarfile.open(file, 'r') as tar:
  tar.extractall(path = data_folder)

In [ ]:
# we can also use !tar command as below
# We use tar xzf to to untar the compressed tar file to extract contents of the file
#-x = extract
#-z = gzipped archive
#-f = get from a file
# syntax tar xzf {file} -C {location_to_untar_files}
# you can uncomment the lines below if you want to compare  tarfile and !tar commands
'''

file = folder / 'review_polarity.tar.gz'
!tar xzf {str(file)} -C {str(folder)}
'''

"\n\nfile = folder / 'review_polarity.tar.gz'\n!tar xzf {str(file)} -C {str(folder)}\n"

## <font color = 'dodgerblue'>**Step 4a: Understand the structure of unzipped folder/files**

In [ ]:
# verify that the foder sent_token exists
(data_folder/'txt_sentoken').exists()

True

In [ ]:
# Look in the new directory named 'txt_sentoken'
for entries in (data_folder/'txt_sentoken').iterdir():
  print(entries.name)

neg
pos

In [ ]:
list((data_folder/'txt_sentoken').glob('*'))

[PosixPath('/content/drive/MyDrive/colab_notebooks/nlp/data/txt_sentoken/neg'),
 PosixPath('/content/drive/MyDrive/colab_notebooks/nlp/data/txt_sentoken/pos')]

Explanation of the code above:
- The code is using the `glob` method from the pathlib library to find all the files in a directory. The line of code is finding all the files in a directory located at `data_folder/'txt_sentoken'`. The resulting list of file paths is then cast to a list using the list() function.

- The `glob` method is a way to search for files using a wildcard (the `*` character). In this case, the `*` character is used to match all files in the directory. The resulting list of file paths will contain the paths of all the files in the `data_folder/'txt_sentoken'` directory.

In [ ]:
# total files and folders
len(list((data_folder/'txt_sentoken').rglob('*')))

2002

Explanation of the code above:

The `rglob` method is a way to search for files using a wildcard (the `*` character) in a directory hierarchy. In this case, the `*` character is used to match all files in the directory hierarchy. **The `rglob` method searches recursively, so it will find all the files in the directory and all its subdirectories.** The resulting list of file paths will contain the paths of all the files in the `data_folder/'txt_sentoken'` directory hierarchy. The len() function is then used to determine the number of items in the list, which is the number of files in the directory hierarchy.

In [ ]:
# Look in the subdirectory named 'pos'
i = 0
for entries in (data_folder/'txt_sentoken'/'pos').iterdir():
  print(entries.name)
  i+= 1
  if i >10:
    break

cv000_29590.txt
cv001_18431.txt
cv002_15918.txt
cv003_11664.txt
cv004_11636.txt
cv005_29443.txt
cv006_15448.txt
cv007_4968.txt
cv008_29435.txt
cv009_29592.txt
cv010_29198.txt

In [ ]:
# total files with extension .txt in a pos sub folder
len(list(((data_folder/'txt_sentoken'/'pos').glob('*.txt'))))

1000

In [ ]:
# total files with extension .txt in a neg sub folder
len(list(((data_folder/'txt_sentoken'/'neg').glob('*.txt'))))

1000

In [ ]:
# let us use the head command to get first five lines if a file
!head {data_folder/'txt_sentoken'/'pos'/'cv000_29590.txt'} -n 5

films adapted from comic books have had plenty of success , whether they're about superheroes ( batman , superman , spawn ) , or geared toward kids ( casper ) or the arthouse crowd ( ghost world ) , but there's never really been a comic book like from hell before .
for starters , it was created by alan moore ( and eddie campbell ) , who brought the medium to a whole new level in the mid '80s with a 12-part series called the watchmen .
to say moore and campbell thoroughly researched the subject of jack the ripper would be like saying michael jackson is starting to look a little odd .
the book ( or " graphic novel , " if you will ) is over 500 pages long and includes nearly 30 more that consist of nothing but footnotes .
in other words , don't dismiss this film because of its source .

## <font color = 'dodgerblue'>**Step 6a: combine all text files**

Let us extract all the text files into a list of strings. We can do this using a for loop to iterate through all the files in a particular directory. There are two sub directories in the main directory, pos and neg. Each sub directory has multiple text files with extension .txt. Each .txt file has a single review.

We will add these texts into different Python list variables as `positive_reviews` and `negative_reviews`.

In [ ]:
def combine_reviews(path: Path):
  """
  This function reads all text files in the given directory and returns a list of the contents of these text files.
  
  Arguments:
  path (Path): Path object pointing to the directory containing the text files
  
  Returns:
  list: List of strings where each string is the contents of a text file in the directory
  """
  reviews = []

  # Iterate over all the files in the directory
  for file in path.iterdir():
    # Check if the file has a '.txt' extension
    if file.suffix == '.txt':
      # We can open files and read or write their contents using open() function
      # The files are opened in read-only mode for reading content
      with open(path/file,'r') as f:
        # We store our text from the files into the list as an element in our list
        text = f.read()
        # append the review to the list
        reviews.append(text)
  return reviews

In [ ]:
# Load positive reviews data
path_pos = data_folder/'txt_sentoken'/'pos'
path_neg = data_folder/'txt_sentoken'/'neg'
positive_reviews = combine_reviews(path_pos)
negative_reviews = combine_reviews(path_neg)

In [ ]:
'1'*10

'1111111111'

## <font color = 'dodgerblue'>**Step6: Create pandas dataframe**

In [ ]:
# We will now create a Pandas DataFrame 
# We combine both the lists in order and store these in column 'Reviews'
# the next column ('Labels') will contain the labels matching each text content
# In the Review column, we have positive reviews followed by negative reviews
# So when we create Labels column - we first generate list which contains string 1 
# we repeat 1 as many time as the length of positive_reviews 
# similarly we generate a second string which contains 0's.
# We finally concatenate these two strings and use list function to convert it to a list

review_polarity = pd.DataFrame({'Reviews':positive_reviews + negative_reviews,
                                'Labels':list('1' * len(positive_reviews) + '0' * len(negative_reviews))})

In [ ]:
# check the infor of the dataset
review_polarity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Reviews  2000 non-null   object
 1   Labels   2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [ ]:
# We want our labels in the review_polarity to be int32 type, we will change that here.
review_polarity.astype({'Labels':'int32'}).dtypes

Reviews    object
Labels      int32
dtype: object

In [ ]:
# Let us look at our DataFrame
review_polarity

                                                Reviews Labels
0     films adapted from comic books have had plenty...      1
1     every now and then a movie comes along from a ...      1
2     you've got mail works alot better than it dese...      1
3      " jaws " is a rare film that grabs your atten...      1
4     moviemaking is a lot like being the general ma...      1
...                                                 ...    ...
1995  if anything , " stigmata " should be taken as ...      0
1996  john boorman's " zardoz " is a goofy cinematic...      0
1997  the kids in the hall are an acquired taste . \...      0
1998  there was a time when john carpenter was a gre...      0
1999  two party guys bob their heads to haddaway's d...      0

[2000 rows x 2 columns]

# <font color = 'dodgerblue'>**Task 5: Get Data from multiple CSV files**
In this task, we will understand how to extract multiple csv files at once and organize them in a single Dataset.

Let us download our dataset from this source  
http://kavita-ganesan.com/entity-ranking-data/#.YNJs5nVKj_f

The dataset contains a zip file with two folders that each contain multiple csv files. 

The exact URL for the dataset: https://github.com/kavgan/OpinRank/archive/refs/heads/master.zip

## <font color = 'dodgerblue'>**Step1: use wget to download data files from URl**

In [ ]:
# Download a .csv file to our filesystem from a url using the wget commmand
# syntax
# !wget {url} -P {path_to_save_file}
# if we do not specify -P , files will be saved in current direcory
file = archive_folder/'master.zip'
url = 'https://github.com/kavgan/OpinRank/archive/refs/heads/master.zip'
!wget {url}  -P {archive_folder} -O {file}

--2023-03-01 17:29:42--  https://github.com/kavgan/OpinRank/archive/refs/heads/master.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://codeload.github.com/kavgan/OpinRank/zip/refs/heads/master [following]
--2023-03-01 17:29:42--  https://codeload.github.com/kavgan/OpinRank/zip/refs/heads/master
Resolving codeload.github.com (codeload.github.com)... 140.82.112.9
Connecting to codeload.github.com (codeload.github.com)|140.82.112.9|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘/content/drive/MyDrive/colab_notebooks/nlp/archive/master.zip’

master.zip              [           <=>      ]  98.78M  48.6MB/s    in 2.0s

2023-03-01 17:29:48 (48.6 MB/s) - ‘/content/drive/MyDrive/colab_notebooks/nlp/archive/master.zip’ saved [103574688]

## <font color = 'dodgerblue'>**Step2: check content of folder where data was downloaded**

In [ ]:
# list files of directory
for entries in archive_folder.iterdir():
  if 'zip' in entries.name:
    print(entries.name)

COVID-19.zip
trainingandtestdata (1).zip
master (1).zip
SMS_spam.zip
trainingandtestdata.zip
master.zip
News_Category_Dataset_v2.json.zip

In [ ]:
# alternatively we can check if the file exists
(archive_folder/'master.zip').exists()

True

## <font color = 'dodgerblue'>**Step3: Check content of zipped/tar folder**

In [ ]:
# check content of zip file 
file = archive_folder / 'master.zip'
with zipfile.ZipFile(file, 'r') as f:
  print(f.namelist())

['OpinRank-master/', 'OpinRank-master/OpinRankDatasetWithJudgments.zip', 'OpinRank-master/README.md']

## <font color = 'dodgerblue'>**Step 4: unzip/untar files**

In [ ]:
# unzip file master.zip
file = archive_folder / 'master.zip'
with zipfile.ZipFile(file, 'r') as f:
  f.extractall(path = data_folder)

In [ ]:
for entries in data_folder.iterdir():
  if 'master' in entries.name:
    print(entries.name)

OpinRank-master

In [ ]:
for entries in (data_folder/'OpinRank-master').iterdir():
  print(entries.name)

OpinRankDatasetWithJudgments.zip
README.md

In [ ]:
# check content of zip file 
file = data_folder / 'OpinRank-master'/'OpinRankDatasetWithJudgments.zip'
with zipfile.ZipFile(file, 'r') as f:
  file_names = f.namelist()

In [ ]:
file_names[0:10]

['OpinRankDatasetWithJudgments.pdf',
 'cars/data/',
 'cars/data/2007.csv',
 'cars/data/2007/',
 'cars/data/2007/2007_acura_mdx',
 'cars/data/2007/2007_acura_rdx',
 'cars/data/2007/2007_acura_rl',
 'cars/data/2007/2007_acura_tl',
 'cars/data/2007/2007_acura_tsx',
 'cars/data/2007/2007_audi_a3']

In [ ]:
# Since the zipped file has multiple files and subfolders, we will extract everything in a sub-folder
# create a new sub-directory
(data_folder/'opinrank').mkdir(exist_ok=True)

In [ ]:
# unzip file OpinRank-master/OpinRankDatasetWithJudgments.zip
# this cell can take up to 25 mins to execute

file = data_folder / 'OpinRank-master' / 'OpinRankDatasetWithJudgments.zip'
with zipfile.ZipFile(file, 'r') as f:
  f.extractall(path = data_folder/'opinrank')

## <font color = 'dodgerblue'>**Step 4a: Understand the structure of unzipped folder/files**

In [ ]:
# get directory names and file names in  a folder
# if you want sub directories and files in subdirectories as well then use rglob
# to get 
for i in (data_folder/'opinrank').glob('*'):
     print(i.name)

OpinRankDatasetWithJudgments.pdf
cars
OpinRankDatasetWithJudgments.doc
hotels

In [ ]:
import os
# list directories and sub directories
for dir, subdirs, files in os.walk(data_folder/'opinrank'):
      for subdir in subdirs:
        print(os.path.join(dir, subdir))

/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/data
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/judgments
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/data/2007
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/data/2008
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/data/2009
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/judgments/2007
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/judgments/2008
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/cars/judgments/2009
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/beijing
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/chicago
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/dubai
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/las-vegas
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/london
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/montreal
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/new-delhi
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/new-york-city
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/san-francisco
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/data/shanghai
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/beijing
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/chicago
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/dubai
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/las-vegas
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/london
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/montreal
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/new-delhi
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/new-york-city
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/san-francisco
/content/drive/MyDrive/colab_notebooks/nlp/data/opinrank/hotels/judgments/shanghai

In [ ]:
# let us see the fles  in data folder
for entries in (data_folder/'opinrank'/'cars'/'data').iterdir():
  print(entries.name)

2007.csv
2007
2008.csv
2008
2009.csv
2009

## <font color = 'dodgerblue'>**Step 5: Create pandas dataframe**

In [ ]:
# we will combine 2007.csv, 2008,csv and 2009.csv

# We use the below command to read all the csv files in the data directory 
# and store in a pandas dataframe.
# Create a dictionary to store different csv files

path = data_folder/'opinrank'/'cars'/'data'

df = {} # dictionary of dataframes
i = 0
for file in path.iterdir():
  if file.suffix == '.csv':
    df[i] = pd.read_csv(file)
    i += 1

In [ ]:
# Concatenate all datasets into a single dataframe
dataset = pd.concat(df, ignore_index=True)
dataset

,docid,year,num_reviews,FUEL,INTERIOR,EXTERIOR,BUILD,PERFORMANCE,COMFORT,RELIABILITY,FUN,overall_rating
0,2007_acura_mdx,2007,169,7.43,9.18,8.95,9.11,9.11,9.16,9.29,9.07,8.91
1,2007_acura_rdx,2007,164,6.52,9.30,8.99,9.24,9.24,9.02,9.36,9.38,8.88
2,2007_acura_rl,2007,22,7.77,9.86,9.64,9.86,9.18,9.59,9.64,9.41,9.37
3,2007_acura_tl,2007,151,8.01,9.25,9.42,8.87,9.03,9.15,9.36,9.23,9.04
4,2007_acura_tsx,2007,56,8.25,9.50,9.09,9.50,9.09,9.30,9.66,9.38,9.22
...,...,...,...,...,...,...,...,...,...,...,...,...
593,2009_volkswagen_passat,2009,18,8.11,8.72,9.22,8.72,8.89,8.78,8.33,9.06,8.73
594,2009_volkswagen_rabbit,2009,30,7.23,9.27,8.97,9.10,9.03,8.87,8.73,9.27,8.81
595,2009_volkswagen_routan,2009,47,7.70,9.21,9.32,8.64,8.87,9.62,8.94,9.26,8.94
596,2009_volkswagen_tiguan,2009,88,8.20,9.24,9.48,9.23,9.39,9.33,9.11,9.45,9.18
597,2009_volvo_c70,2009,16,7.88,9.00,9.75,9.56,8.25,9.13,9.31,9.13,9.00

# <font color = 'dodgerblue'>**Summary:**

- Step1: use !wget to download data files from URl
- Step2: check content of folder where data was downloaded (iterate over Pathlib path using iterdir() and use file.name attribute to check name of files/folders)
- Step3: Check content of zipped/tar folder.
 - Open file using  with ```zipfile.ZipFile(file, 'r')``` or with  ```tarfile.open(file, 'r')```
 - check content using ``file.namelist()`` for zip files and ``file.getnames()`` for tar files)
- Step 4: unzip/untar files
 - open zip/tar files
 - use ``extract``/``extractall`` for  single/multiple files
- Step 4a: Understand the structure of unzipped folder/files (only required if data ia stored in multiple folders and files).
- Step 5: Check content of the main file using head command.
- Step 6a: combine all text files ( if data is stored in multiple files).
- Step6: Create pandas dataframe

Note : We can read the content of text file using 

```
with open(path/file,'r') as f:
 text = f.read()
```

# References 

https://realpython.com/working-with-files-in-python/#directory-listing-in-modern-python-versions

https://realpython.com/python-pathlib/#moving-and-deleting-files